<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pro.roquelaure.statfortus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ico_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ico_launch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".InterfacePrincipale"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>